{% load static %}
<!doctype html>
<html lang="ko">
    <head>
        <!--메타 태그-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--부트스트랩 CSS-->
        <link rel="stylesheet" type="text/css" href="{%static 'bootstrap.min.css'%}">
        <!--파이보 CSS-->
        <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
        <title>Hello, pybo!</title>
    </head>
    <body>
        <!--내비게이션 바-->
        {% include "navbar.html" %}
        <!--기본 템플릿을 상속받아 삽입될 내용-->
        {%block content%}
        {%endblock%}
        <!--부트스트랩-->
        <script src="{%static 'bootstrap.min.js' %}"></script>
    </body>
</html>